<section class="bg-overlay container my-5">
  <h2 class="text-center mb-4">Contáctanos</h2>
  
 

  <form id="contactForm" action="/contactanos" method="post">
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Nombre" name="nombre" required>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Apellido" name="apellido" required>
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" placeholder="Email" name="email" required>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Telefono" name="telefono" required>
    </div>
    <div class="mb-3">
      <textarea class="form-control" rows="4" placeholder="Dejanos tu mensaje" name="mensaje" required></textarea>
    </div>
    <button type="submit" class="btn btn-success w-100">Enviar</button>
  </form>
   {{#if success}}
  <div class="alert alert-success mt-3 text-center">{{{mensaje}}}</div>
  {{/if}}

  {{#if error}}
  <div class="alert alert-danger mt-3 text-center">{{{mensaje}}}</div>
  {{/if}}
</section>
